
%estiloCajasFooter{
    flex-basis: 50%;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    font-family: $letraSecundaria;
    color: $azul;
    // text-shadow: #4b4b4b 3px 5px 2px;
}
%textoh1{
    color: $celesteClaro;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: $letraPrimaria;
    
    text-shadow: 3px 5px 2px #474747;
    &::first-letter{
        font-size: 60px;
        color: $celesteOscuro;
    }
}
%textoCarousel{
    background-color: hsla(227, 43%, 27%, 0.432);
    border-radius: 7px;
}



@mixin fondoBanner ($imagen){
    background: linear-gradient(to right, hsla(121, 40%, 45%, 0.507), hsla(227, 54%, 34%, 0.507)),url($imagen);
}
