.rowEstilo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .contenedor__servicios{
        max-height: 100%;
    .imagen__servicios{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        border-radius: 6px;
        background: linear-gradient(to right, hsla(198, 44%, 11%, 0.479), #203a43, hsla(198, 39%, 28%, 0.445)),url(../img/banner.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 350px;
        height: 100%;
        color: white;
        margin: 10px 5px;
        text-align: center;
        overflow: hidden;
        h1{
            font-family: $letraPrimaria;
            font-weight: bolder;
            text-transform: uppercase;
            text-align: center;
        }
        h6{
            font-family: $letraSecundaria;
            text-transform: capitalize;
            font-size: 19px;
            color: $celesteClaro;
        }
    }
}
.acordionEstilo{
    margin: 5px 0;
   
    .accordion-button, .accordion-button:not(.collapsed), .accordion-body{
        background: linear-gradient(120deg, #FFFFFF, #6DD5FA, #2980B9);
        opacity: .8;
        
    }
}
}